<MudForm Model="@request" Validation="@ValidateValue" ValidationDelay="0">

    @if (show_errors)
    {
        <MudPaper Class="d-flex justify-center" Elevation="0">
            <MudAlert Severity="Severity.Warning">
                @foreach (var error in errors)
                {
                    <p>@error</p>
                }
            </MudAlert>
        </MudPaper>
    }

    <PasswordField Label="Password"
                   For="@(() => request.Password)"
                   Immediate=true
                   OnlyValidateIfDirty=true
                   @bind-Password="request.Password" />

    <PasswordField Label="New Password"
                   For="@(() => request.NewPassword)"
                   Immediate=true
                   OnlyValidateIfDirty=true
                   @bind-Password="request.NewPassword" />

    <PasswordField Label="Confirm Password"
                   For="@(() => request.ConfirmNewPassword)"
                   Immediate=true
                   OnlyValidateIfDirty=true
                   @bind-Password="request.ConfirmNewPassword" />

    <MudPaper Class="d-flex justify-end mt-6 mb-0"
              Elevation="0">
        <MudButton Variant="Variant.Text"
                   Color="Color.Primary"
                   Size="Size.Large"
                   OnClick="@(async () => await SubmitAsync())">Update</MudButton>
    </MudPaper>
</MudForm>
